# Error logs
logs/*.log

# Vendor directories (Composer)
vendor/

# Temporary files
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Config files (should be created locally)
config.php

# Install claim file (created on the server to unlock the wizard; never commit)
maintenance/setup/ALLOW_INSTALL
# Install marker + lock (created by setup wizard finalize; never commit)
storage/installed
maintenance/setup/lock

*.zip
.env

# PDF Temporary directory
tmp/
!tmp/.htaccess
